
/*Font style for all section and all div in the website*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
  font-family: "Work Sans";
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 14px 18px;
    font-size: 1.25rem;
    border-radius: 7px;
    border-style: none;
    margin: 5px auto;
    cursor: pointer;
}
.text-light-gray{
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
}

/*header related style*/

header{
    background-color: rgb(240, 213, 180);
    /* max-width: 1920px;
    max-height: 1322px; */
    padding: 40px 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.nav-title{
    font-size: 2.75rem;
    color: #131313;
}
nav > ul {
    display: flex;  
}
nav li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: #424242 ;
    
}
/* banner styles */
.banner-conter{
    text-align: center;
    max-width: 800px;
    justify-content: center;
    margin: 0px auto;
}

h1, .banner-title{
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

header img{
    width: 100%;
    margin-top: 20px;
}
/* Quick list */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.quick-list{
    display: flex;
    margin-top: 40px ;
    align-items: center;
    padding: 0 70;
}
.list-img-grid, .teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
}
.list-coulum2, .teams-content{
    padding-left: 45px;
    padding-right: 70px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.list-img-grid img{
    width: 100%;
}
.list-coulum-title, .teams-title{
    font-size: 2.78rem;
    color: #131313;
}
.fade{
    color: #727272;
    font-weight: 500;
}
.ye{
    color: #FF900E;
    font-weight: 700;
}

/* for mobile devices */
/* Header section */
@media screen and (max-width:745px){
    header{
        padding: 20px;
    }
    nav, .quick-list{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr ;
    }
   
}

/* Responsive for quick list */
/* for Tablet device  */

@media screen and (min-width:745px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .list-coulum2{
        padding-top: 40px;
    }
    .quick-list{
        flex-direction: column;
        padding-top: 50px;
    }
    .teams-img-container{
        grid-template-columns: 1fr ;
    }
   
}