
/*Font style for all section and all div in the website*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
  font-family: "Work Sans";
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 14px 18px;
    font-size: 1.25rem;
    border-radius: 7px;
    border-style: none;
    margin: 5px auto;
    cursor: pointer;
}
.text-light-gray{
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
}
.section-title {
    font-size: 2.75rem;
    color: #131313;
}

/*header related style*/

header{
    background-color: rgb(240, 213, 180);
    /* max-width: 1920px;
    max-height: 1322px; */
    padding: 40px 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

nav > ul {
    display: flex;  
}
nav li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: #424242 ;  
}
/* banner styles */
.banner-conter{
    text-align: center;
    max-width: 800px;
    justify-content: center;
    margin: 0px auto;
}

h1, .banner-title{
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

header img{
    width: 100%;
    margin-top: 20px;
}
/* Quick list start */
main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
}
.quick-list{
    display: flex;
    flex-direction: r;
    margin-top: 40px ;
    align-items: center;
    justify-content: center;
    padding: 0 70;
}
.list-img-grid, .teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
}
.list-coulum2, .teams-content{
    padding-left: 45px;
    padding-right: 70px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.list-img-grid img{
    width: 100%;
}
.list-coulum-title, .teams-title{
    font-size: 2.78rem;
    color: #131313;
}
.fade{
    color: #727272;
    font-weight: 500;
}
.ye{
    color: #FF900E;
    font-weight: 700;
}
/* Feature section start */
.features-container{
    display: flex;
    margin-top: 50px;
    gap: 1.5rem;
}
.features-content .section-title{
    padding-left: 20px;
    border-left: 3px solid #FF900E;
}
.features-content .text-light-gray{
    margin: 1.5rem 0rem;
}
.features-content .card{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 18px #888888;
}
.features-content .card .card-title{
    font-size: 1.22rem;
    color: #131313;
    font-weight: 500;
}
.features-content .card .card-description{
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
}
.experiens{
    padding: 25px;
    background-color: #FF900E;
    width: 327px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 100px;
}
.features-img img{
    margin-left: 1.8rem;
    height: 90%;
}
.experiens h4{
    font-size: 4rem;
}
.experiens p{
    font-size: 1.75rem;
}
/* some facts style start here  */
.some-facts-container{
    margin-top: 20px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    margin: 1.4rem 0;
}
.card-container .card{
    box-sizing: border-box;
    padding: 1.6rem;
    border: 2px solid blueviolet;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
.card .stats{
    font-size: 1.7rem;
    color: #424242;
}
.card .card-title{
    font-size: 1.25rem;
}
/* Sponsors section start */
.sponsors-logo-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

/* footer section start */
footer{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
    
}
.footer .text-light-gray{
    padding: 20px 80px;
    background-color:#FFF4E7 ;
    margin: 100px 0px;
    text-align: center;
}
/* for mobile devices */
/* Header section */
@media screen and (max-width:745px){
    header{
        padding: 20px;
    }
    nav, .quick-list, .card-container, .sponsors-logo-container, .features-container{
        flex-direction: column;
        gap:10px;
        
    }
    .teams-img-container{
        grid-template-columns: 1fr ;
    }
    .some-facts-container{
        margin-right: 20px;
        margin-left: 20px;
    }
    .features-img img {
        width: 100%;
    }
    .experiens{
        max-width: 200px;
    }
}

/* Responsive for quick list */
/* for Tablet device  */

@media screen and (min-width:745px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav, .sponsors-logo-container{
        flex-direction: column;
    }
    .list-coulum2{
        padding-top: 40px;
    }
    .quick-list{
        flex-direction: column;
        padding-top: 50px;
    }
    .teams-img-container{
        grid-template-columns: 1fr ;
    }
    .card-container {
        gap: 10px;
    }
}